.header {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.list-group {
    width: 30%;
    margin: 0 auto;
}

.list-group-item.active, .list-group a div {
    text-align: center;
    display: block;
}

.list-group-item:hover {
    background: darkgray;
    color: white;
}

.add.new {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add.new button {
    display: flex;
    flex: 0 0 12%;
    max-width: 12%;
    cursor:pointer;
    justify-content: center;
}

.add_form {
    display: flex;
    flex-direction: column;
    flex: 0 0 90%;
    max-width: 90%;
    cursor:pointer;
    margin: 0 auto;
}

.add_form .form-group {
    justify-content: center;
}

.add.new .spacer {
    width: 2%;
}

.table.table-hover td {
    max-width: 35px;
    text-align: center;
}

ALTER TABLE Pricelist
ADD product_id int(6) unsinged not null,
                      FOREIGN KEY (product_id) REFERENCES Products (id)
ON DELETE CASCADE
ON UPDATE CASCADE;